extends layout

block content
  h1 REST server with MySQL database
  h2 Documentation API
  h3 Access to USER
  h4 http://url/user
  p Get all user
  p Post a new user with data json
  h4 http://url/user/id
  p Get specific user from user's id
  p Put and update a specific user
  p Delete a specific user
  h4 http://url/user/login
  p Post a data json with user (email) and password
  h3 Access to ITEM
  h4 http://url/items
  p Get all items
  p Post a new item
  h4 http://url/items/id
  p Get a specific item 
  p Put and update a specific item
  p Delete a specific item 
 
 


